fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

fastembed
faiss-cpu

groq
langdetect
edge-tts
httpx
requests
pypdf

numpy
tqdm
packaging
